<!-- {% include 'navbar2.html' %} -->
<head>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <title>

        News blog
    </title>
</head>
<body>
    <!--Main Start-->
    <div class="main">
        <!--Navbar Start-->
    <nav class="navbar  navbar-expand-lg navbar-dark bg-transparent" style="font-family: 'Luckiest Guy', cursive;">
        <a class="navbar-brand" href="#" style="padding-left: 150px; font-size: 40px; ">News Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="margin-left: 10%; font-size: 20px;">
            <a class="nav-item nav-link active" href="{% url 'home2' %}" id="navicon">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'myblogs2' %}" id="navicon">My blogs</a>
            <a class="nav-item nav-link" href="{% url 'aboutus2' %}" id="navicon">About us </a>
            <a class="nav-item nav-link" href="{% url 'features2' %}" id="navicon">features</a>
            <a class="nav-item nav-link" href="{% url 'home' %}" id="navicon">Logout</a>
          </div>
        </div>
      </nav>
    <!--Navbar End-->
    <b>In this app category, the app cover the happenings around the regional, national or international arena. This category of news app is quite popular among users as it allows them to be aware of the world’s news whenever they want. However, it is integral to present news content that the interesting and grabs attention instantly. Apart from the important news concerning politics, crime, business, sports and entertainment, and weather, users can also be informed regarding the upcoming events & exhibitions across various cities. The app can be accessed free of cost or paid, as decided by the app owners.</b>


<div class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
        <h2 class="text-center mb-4 text-primary">Add Blog</h2>
        <form action="" method = 'POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control border border-primary" id="title" aria-describedby="emailHelp" name = 'title' placeholder="Enter Title" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <input type="text" class="form-control border border-primary" id="description" name = 'description' placeholder="Enter description" required>
            </div>
            
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
        
    </div>
  </div>
  </body>
  
  </html>
  
  
  
  